.mat-nav-list {
    padding: 15px;
}

.mat-slider {
    padding-top: 0px !important;
}

.sliderLabel {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    color: rgba(0,0,0,.54);
    font-size: 12px;
}