/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "MeQuran";
    src: url(assets/fonts/me_quran2.ttf) format("truetype");
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card {
    padding: 0 16px 0 !important;
    min-height: 100%;
}
