.home {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forms {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.forms > * {
    margin: 5px 10px 5px 0;
 }

@media (max-width: 800px) {
    .forms {
        justify-content: center;
    }
    .forms > * {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
}