<div class="home">
  <div class="forms">
    <mat-form-field *ngIf = "(rest.reciters$ | async)" appearance="outline">
      <mat-label>Select Reciter</mat-label>
      <mat-select [(ngModel)]="selectedReciterId" name="reciter">
        <mat-option *ngFor="let reciter of (rest.reciters$ | async); trackBy:trackByFn" [value]="reciter.id">{{ reciter.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf = "(rest.surahs$ | async)" appearance="outline">
      <mat-label>Select Surah</mat-label>
      <mat-select [(ngModel)]="selectedSurahNumber" name="surah">
        <mat-option *ngFor="let surah of (rest.surahs$ | async); trackBy:trackByFn" [value]="surah.number">
          {{ surah.number }} - {{ surah.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="activation mat-form-field-wrapper">
      <button mat-fab class="play-button" color="primary" [routerLink]="[ '/playback', { surahNumber: selectedSurahNumber, reciterId: selectedReciterId }]">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
  </div>
</div>
